<div class="general-card-container">
    <div class="card-container">
      <div class="card__container__cascade__card1 cards">
        <img src="./image/cascade (1).png1.png" alt="" style="width: 100%" />
        <div class="card__cascade">
          <h1>Cascade</h1>
          <span class="css">css</span>
          <span class="pro">pro</span>
          <p>A stream of rapid-fire Css microgames</p>
        </div>
      </div>
      <div class="card__container__crunchers__card2 cards">
        <img
          src="./image/code-crunchers (1).png2.png"
          alt=""
          style="width: 100%"
        />
        <div class="card__cascade">
          <h1>Code crunchers</h1>
          <span class="js">JS | MATH</span>
          <span class="pro__cap">PRO</span>
          <p>A game of learning javascript math</p>
        </div>
      </div>
      <div class="card__container__scoops__card3 cards">
        <img src="./image/css-scoops.png3.png" alt="" style="width: 100%" />
        <div class="card__cascade">
          <h1>Css Scoops</h1>
          <span class="css__selectors">CSS | SELECTORS</span>
          <span class="pro__cap1">PRO</span>
          <p>A game of learning css selectors</p>
        </div>
        
      </div>
    </div>

    <div class="surgeon-container">
      <div class="surgeon__container__surgeon__card4 cards">
        <img src="./image/css-surgeon.png4.png" alt="" style="width: 100%" />
        <div class="surgeon__card">
          <h1>CSS Surgeon</h1>
          <span class="surgeon__css">CSS |TRANSFORM </span>
          <span class="surgeon__pro">PRO</span>
          <p>
            A game for learning to scale,rotate,<br />
            and move elements with CSS <br />
            transform
          </p>
        </div>
      </div>
      <div class="surgeon__container__dissarray__card5 cards">
        <img src="./image/disarray.png5.png" alt="" style="width: 100%" />
        <div class="surgeon__card">
          <h1>Disarray</h1>
          <span class="disarray__js">JS | ARRAYS</span>
          <span class="disarray__pro">PRO</span>
          <p>
            A game for learning javascript array <br />
            methods
          </p>
        </div>
      </div>
      <div class="surgeon__container__flexbox__card6 cards">
        <img src="./image/flexbox-froggy.png6.png" alt="" style="width: 100%" />
        <div class="surgeon__card">
          <h1>Flexbox Froggy</h1>
          <span class="flex__css">CSS | FLEXBOX</span>
          <span class="flex__free">FREE</span>
          <p>A game for learning CSS flexbox</p>
        </div>
        
      </div>
    </div>

    <div class="grid-container">
      <div class="grid__container__froggy__card7 cards">
        <img
          src="./image/flexbox-froggy-pro.png7.png"
          alt=""
          style="width: 100%"
        />
        <div class="grid__card">
          <h1>Flexbox Froggy Pro</h1>
          <span class="grid__css">CSS | FLEXBOX </span>
          <span class="grid__pro">PRO</span>
          <p>
            A game for mastering CSS flexbox with<br />
            with infinite practice levels
          </p>
        </div>
      </div>
      <div class="grid__container__grid__card8 cards">
        <img src="./image/grid-garden.png8.png" alt="" style="width: 100%" />
        <div class="grid__card">
          <h1>Grid Garden</h1>
          <span class="grid__garden-css">CSS | GRID</span>
          <span class="grid__free">FREE</span>
          <p>A game for learning CSS grid</p>
        </div>
      </div>
      <div class="grid__container__delivery__card9 cards">
        <img src="./image/intl-delivery.png9.png" alt="" style="width: 100%" />
        <div class="grid__card">
          <span class="grid__new">NEW</span>
          <h1>Intl Delivery</h1>
          <span class="grid__intern">JS | INTERNATIONAL</span>
          <span class="grid__delivery">PRO</span>
          <p>
            A game for learning the javascript<br />
            internalization API
          </p>
        </div>
        <!-- <button></button> -->
      </div>
    </div>

    <div class="nester-container">
      <div class="nester__container__nester__card10 cards">
        <img src="./image/nester.png10.png" alt="" style="width: 100%" />
        <div class="nester__card">
          <h1>Nester</h1>
          <span class="nester__html">HTML </span>
          <span class="nester__pro">PRO</span>
          <p>A game of nesting HTML code</p>
        </div>
      </div>
      <div class="nester__container__cart__card11 cards">
        <img src="./image/nth-cart.png11.png" alt="" style="width: 100%" />
        <div class="nester__card">
          <h1>Nth Cart</h1>
          <span class="nester__cart-css">CSS | SELECTORS</span>
          <span class="nester__nth-pro">PRO</span>
          <p>A game for learning about the :nth-child()CSS<br />selector</p>
        </div>
      </div>
      <div class="nester__container__Pathfinder__card12 cards">
        <img src="./image/pathfinder.png12.png" alt="" style="width: 100%" />
        <div class="nester__card">
          <h1>Pathfinder</h1>
          <span class="pathfinder__html">HTML</span>
          <span class="pathfinder__pro">PRO</span>
          <p>A game of constructing file paths</p>
        </div>
        <!-- <button></button> -->
      </div>
    </div>

    <div class="showdown-container">
      <div class="showdown__container__showdown__card13 cards">
        <img
          src="./image/selector-showdown.png13.png"
          alt=""
          style="width: 100%"
        />
        <div class="showdown__card">
          <h1>Selector Showdown</h1>
          <span class="showdon__css">CSS|SELECTORS </span>
          <span class="showdown__pro">PRO</span>
          <p>A game about CSS selector specificity</p>
        </div>
      </div>
      <div class="showdown__container__scopes__card14 cards">
        <img src="./image/sherlock-scopes.png14.png" alt="" style="width: 100%" />
        <div class="showdown__card">
            <span class="showdown__soon">COMING SOON</span>
          <h1>Sherlocks Scopes</h1>
          <span class="sherlocks__js">JS | SCOPE</span>
          <span class="scopes__pro">PRO</span>
          <p>A game for learning javascript scope</p>
        </div>
      </div>
      <div class="showdown__container__sourcery__card15 cards">
        <img src="./image/sourcery.png15.png" alt="" style="width: 100%" />
        <div class="showdown__card">
          <h1>Sourcery</h1>
          <span class="sourcery__html">HTML</span>
          <span class="sourcery__pro">PRO</span>
          <p>A magical game of coding HTML with Emmet</p>
        </div>
      
      </div>
    </div>
   </div>